
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}


header {
    text-align: center;
    background-color: #daa2c3;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}


section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


section h2 {
    font-size: 2rem;
    color: #daa2c3;
    margin-bottom: 10px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    margin: 10px 0;
}


a {
    color: #daa2c3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #daa2c3;
}


.contact-icon {
    width: 150px;
    height: auto;
    margin-right: 8px; 
    vertical-align: middle;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    li {
        font-size: 1rem;
    }

    .contact-icon {
        width: 16px;
    }
}
